<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Todo App</title>
  </head>
  <body>
    <form>
      <h1>TodoApp</h1>
      <h2>Create list</h2>
      <input type="text" />
      <input type="submit" value="Create" />
    </form>
    <ul id="lists">
      <li>
        Mockup list name
        <input class="delete-list-button" type="button" value="&cross;"/>
      </li>
    </ul>
    <form id="form" method="post" action="/todos/create">
      <h2>Create todo</h2>
      <input type="text" id="description" name="description" />
      <input type="submit" value="Create" />
    </form>
    <div id="error" class="hidden">Something went wrong!</div>
    <ul id="todos">
      {% for todo in todos %}
      <li id="{{ todo.id }}">
        <input class="check-completed" data-id="{{ todo.id }}" type="checkbox" {% if todo.completed %} checked {% endif %} />
        {{ todo.description }}
        <input class="delete-button" data-id="{{ todo.id }}" type="button" value="&cross;"/>
      </li>
      {% endfor %}
    </ul>

    <script src="{{ url_for('static', filename='JS/main.js') }}"></script>
    
  </body>
</html>